name: Test boolean input

on:
  workflow_dispatch:
    inputs:
      test:
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: echo "${{ inputs.test && 'test' }}"
